<div class="row">
    <div class="titulo">
        <input type="checkbox" [checked] = item.check>
        {{ item.titulo }}
    </div>
    <div class="precio">
        {{ item.precio | currency: 'USD':true: '2.0'}}
    </div>
    <div class="cantidad">
        {{ item.cantidad }}
    </div>
    <div class="total">
        {{ (item.precio * item.cantidad | currency: 'USD':true:'2.0') }}
    </div>
    <div class="elm-btn">
        <button (click)="onDelete(item)">Eliminar</button>
    </div>
</div>

